<body class="rafcolour">
  <header><%- include('header') -%></header>
  <div class="container mt-5 mt-md-0" style="padding-top: 60px">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="box p-4">
          <h1 class="signin-heading mb-4">Sign Up</h1>
          <form>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="John Doe"
              />
              <label for="name">Full Name</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="mobile"
                placeholder="1234567890"
              />
              <label for="mobile">Mobile number</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
              <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="confirm Password"
              />
              <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-signin btn-lg mt-3" type="submit">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
