<div class="product-box">
  <img src="/images/qw1233" alt=" Product image" class="product-image" />
  <h2 class="product-title">GReen Printed Women top</h2>
  <p class="product-description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique ullam
    nulla vitae laudantium. Odit esse itaque doloribus numquam earum, debitis
    blanditiis rem, soluta pariatur saepe eaque molestiae veritatis libero
    minima.
  </p>
  <div class="product-rate">Rs.670</div>
</div>
