<body class="rafcolour">
  <% include('../header') %>

  <div
    class="box position-absolute top-50 start-50 translate-middle"
    style="width: 450px; height: 477px"
  >
    <h1 class="signin-heading mb-4">Sign In</h1>
    <form>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-signin w-100 mb-3">Sign In</button>
    </form>
    <div class="d-flex justify-content-between links">
      <a href="#" class="text-white">Forgot Password</a>
      <a href="#" class="text-white">Create New User</a>
    </div>
  </div>
</body>
