a {
  color: #ffffff;
  text-emphasis: none;
  text-decoration: none;
}
.rafcolour {
  background: linear-gradient(
    89.9deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
}
.rafhathsinglecolour {
  color: #fffbe0;
  background: linear-gradient(
    144.62deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
}
.navbar {
  position: relative;
  z-index: 9999;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
}
.navbar-nav li a:hover {
  background-color: white;
  color: black;
  border-radius: 8px;
}
.icon-head {
  width: 163px;
  height: 40px;
  margin-left: 80px;
}

.navbar-custom {
  background: linear-gradient(
    112.62deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-custom .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-custom .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-custom .form-control {
  margin-right: 10px;
}

.navbar-custom .btn-group {
  margin-right: 10px;
}

.navbar-custom .dropdown-menu {
  background: linear-gradient(
    112.62deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
}

.navbar-custom .nav-link {
  margin-right: 30px;
}

.navbar-custom .nav-link:last-child {
  margin-right: 20;
}

/* signin */

.box {
  background-color: #036973;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 30px;
}

.form-floating {
  width: 368px;
  margin-bottom: 20px;
}

.form-floating label {
  color: #050505;
}
/* 
.form-control-s {
  height: 43px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #fff;
}
*/
.btn-signin {
  height: 43px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  color: #036973;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  cursor: pointer;
}
.btn-verify-otp {
  height: 43px;
  width: 200px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  color: #036973;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  cursor: pointer;
  justify-self: center;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.links a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.sign-in-box {
  position: absolute;
  width: 450px;
  height: 477px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.email-input {
  width: 368px;
  height: 84px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-title {
  left: 10px;
  top: 350px;
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #0197a6;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* //header2 */
.pin-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin-box {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.pin-box:focus {
  border-color: #007bff;
}

.pin-box:not(:first-child) {
  pointer-events: none;
  opacity: 0.5;
}

/* product view page */

/* Styling for the product box */
.container {
  max-height: 550px;
}
.productBox {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.productImg {
  max-width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
}

.btn-outline-secondary {
  margin-top: 10px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

/* Styling for the product details */

.productHead {
  font-weight: 500;
  margin-top: 20px;
  font-family: "Inria Serif";
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #0197a6;
}

.productDesc {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #01717d;
}
.sizedesc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #005159;
}
.sizeBox {
  width: 50px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #005159;
  cursor: pointer;
}
.sizeBox:active {
  color: #ffffff;
  background: #005159;
}
.sizelessBox {
  width: 50px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.quantity {
  margin-top: 20px;
}

.quantityNumber {
  font-size: 18px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.plus,
.minus {
  border-radius: 20%;
  width: 60px;
  height: 40px;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 0 10px;
}

.plus:hover,
.minus:hover {
  background-color: #f2f2f2;
}

.productRate {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.ProductAddtoCart {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 350px;
  height: 65px;
  background: #0197a6;
  border-radius: 7px;
}

.ProductAddtoCart:hover {
  background-color: #03292a;
  border: #f2f2f2;
}
.flex {
  display: flex;
}

.price-input {
  width: 120px;
  border-radius: 10px;
  background: #7b8794ab;
  border: none;
  padding-left: 15px;
  padding-right: 13px;
}
.gendercategory {
  width: 140px;
  border-radius: 10px;
  background: #7b8794ab;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
.pin-input input[type="number"]::-webkit-inner-spin-button,
.pin-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-floating:not(.form-control:disabled)::before {
  position: initial;
}
.productsideImg {
  width: 50px;
  height: 70px;
  cursor: pointer;
}
.productImgWrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.productImgWrapper:hover .zoomedProductImg {
  transform: scale(1.5);
}
.productImgWrapper .zoomedProductImg {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out;
  transform-origin: 0 0;
  z-index: 10;
}

/* product view */

.product-grid {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 30px;
}
.product-grid .product-image {
  overflow: hidden;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 1;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-grid .product-discount-label {
  color: #fff;
  background: #003229;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  border-radius: 8px;
  top: 10px;
  left: 0;
}
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all 0.5s ease 0s;
}
.product-grid:hover .product-links {
  right: 10px;
}
.product-grid .product-links li a {
  color: #333;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #333;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}
.product-grid .product-links li:last-child a {
  border-bottom: 1px solid #333;
}
.product-grid .product-links li a:hover {
  color: #fff;
  background: #333;
}
.product-grid .add-to-cart {
  background: #03292a;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart {
  bottom: 0;
}
.product-grid .add-to-cart:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  background: #264b4d;
}
.product-grid .product-content {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset;
}
.product-grid .title {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* show only 2 lines of text */
  -webkit-box-orient: vertical;
}
.product-grid .title a {
  color: #777;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover {
  color: #a5ba8d;
}
.product-grid .price {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
.zoomedProductImg {
  position: absolute;
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

.zoomed {
  pointer-events: auto;
  z-index: 100;
  transform: scale(2);
}

/* //side cart */
.cartheading {
  font-size: 18px;
  font-weight: 600;
  font-family: ui-sans-serif;
  margin-block: 70px;
}

/*//////////////////////////////////////////////////////////////////
[ Sidebar ]*/
.wrap-sidebar {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.show-sidebar {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-sidebar .sidebar {
  right: 0;
}

@media (max-width: 991px) {
  .wrap-sidebar {
    display: none;
  }
}

/*---------------------------------------------*/
.sidebar-content {
  flex-grow: 1;
  overflow: auto;
  align-content: space-between;
}

/*//////////////////////////////////////////////////////////////////
  [ Header cart ]*/
.wrap-header-cart {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.header-cart {
  position: fixed;
  z-index: 1100;
  width: 390px;
  max-width: calc(100% - 30px);
  height: 100vh;
  top: 0;
  right: -400px;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.34;
  transition: all 0.4s;

  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.header-cart::after {
  content: "";
  display: block;
  width: 100%;
  height: 9%;
  min-height: 30px;
}

.show-header-cart {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-header-cart .header-cart {
  right: 0;
}

/*---------------------------------------------*/
.header-cart-title {
  width: 260px;
  max-width: 100%;
  height: 16.5%;
  min-height: 85px;
}

.header-cart-content {
  flex-grow: 1;
  overflow: auto;
  align-content: space-between;
}

.header-cart-wrapitem {
  flex-grow: 1;
}

/*---------------------------------------------*/
.header-cart-item-img {
  width: 60px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.header-cart-item-img img {
  width: 100%;
}

.header-cart-item-img::after {
  content: "\e870";
  font-family: Linearicons-Free;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0;
}

.header-cart-item-img:hover:after {
  opacity: 1;
}

/*---------------------------------------------*/
.header-cart-item-txt {
  width: calc(100% - 80px);
}

.header-cart-item-name {
  display: block;
  font-family: Poppins-Regular;
  font-size: 16px;
  text-decoration: none;
  color: #555;
  line-height: 1.3;
}

.header-cart-item-info {
  display: block;
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #888;
  line-height: 1.5;
}

.header-cart-total {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #222;
  line-height: 1.3;
}

/*---------------------------------------------*/
@media (max-width: 575px) {
  .header-cart {
    padding: 30px;
  }

  .header-cart-title {
    padding-bottom: 35px;
  }
}

.header-cart {
  position: fixed;
  z-index: 1100;
  width: 390px;
  max-width: calc(100% - 30px);
  height: 100vh;
  top: 0;
  right: -400px;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.34;
  transition: all 0.4s;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.s-full {
  width: 100%;
  height: 100%;
}
.viewCart {
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 80px;
  background-color: #000000f8;
  color: #fff4f4;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}
.viewCart:hover {
  background-color: #6e6e6ea3;
  color: #fff4f4;
}
.header-cart-buttons {
  width: fit-content;
}

.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-col {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex-col-l {
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.flex-w,
.flex-l,
.flex-r,
.flex-c,
.flex-sa,
.flex-sb,
.flex-t,
.flex-b,
.flex-m,
.flex-str,
.flex-c-m,
.flex-c-t,
.flex-c-b,
.flex-c-str,
.flex-l-m,
.flex-r-m,
.flex-sa-m,
.flex-sb-m,
.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-row,
.flex-row-rev,
.flex-col,
.flex-col-rev,
.dis-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.p-r-25,
.p-lr-25,
.p-all-25 {
  padding-right: 25px;
}
.p-l-65,
.p-lr-65,
.p-all-65 {
  padding-left: 65px;
}
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
