a {
  color: #ffffff;
  text-emphasis: none;
  text-decoration: none;
}
.rafcolour {
  background: linear-gradient(
    112.62deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
}
.navbar {
  position: relative;
  z-index: 9999;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
}
.navbar-nav li a:hover {
  background-color: white;
  color: black;
  border-radius: 8px;
}
.icon-head {
  width: 163px;
  height: 40px;
  margin-left: 116px;
}

.navbar-custom {
  background: linear-gradient(
    112.62deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-custom .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-custom .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-custom .form-control {
  width: 300px;
  margin-right: 10px;
}

.navbar-custom .btn-group {
  margin-right: 10px;
}

.navbar-custom .dropdown-menu {
  background: linear-gradient(
    112.62deg,
    #0197a6 0.41%,
    #01373d 99.99%,
    #003229 100%
  );
}

.navbar-custom .nav-link {
  margin-right: 30px;
}

.navbar-custom .nav-link:last-child {
  margin-right: 20;
}

/* signin */

.box {
  background-color: #036973;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 30px;
}

.form-floating {
  width: 368px;
  margin-bottom: 20px;
}

.form-floating label {
  color: #050505;
}
/* 
.form-control-s {
  height: 43px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #fff;
}
*/
.btn-signin {
  height: 43px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  color: #036973;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  cursor: pointer;
}
.btn-verify-otp {
  height: 43px;
  width: 100px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  color: #036973;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  cursor: pointer;
  justify-self: center;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.links a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.sign-in-box {
  position: absolute;
  width: 450px;
  height: 477px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.email-input {
  width: 368px;
  height: 84px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* product card box */
/* .card {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.product-img-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}

.product-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #0197a6;
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-description {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #005159;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.product-rate {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #005159;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
} */

.card-title {
  left: 10px;
  top: 350px;
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #0197a6;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* //header2 */
