a {
  color: #ffffff;
  text-emphasis: none;
  text-decoration: none;
}
.rafcolour {
  background: linear-gradient(112.9deg, #8ef9e4 2.9%, #003b66 100%);
}
.navbar {
  position: relative;
  z-index: 9999;
}
.navbar-nav li a {
  color: white;
  text-decoration: none;
}
.navbar-nav li a:hover {
  background-color: white;
  color: black;
  border-radius: 8px;
}
.icon-head {
  width: 163px;
  height: 40px;
  margin-left: 116px;
}

.navbar-custom {
  background: linear-gradient(112.9deg, #8ef9e4 2.9%, #003b66 100%);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-custom .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-custom .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-custom .form-control {
  width: 300px;
  margin-right: 10px;
}

.navbar-custom .btn-group {
  margin-right: 10px;
}

.navbar-custom .dropdown-menu {
  background: linear-gradient(112.9deg, #8ef9e4 2.9%, #003b66 100%);
}

.navbar-custom .nav-link {
  margin-right: 30px;
}

.navbar-custom .nav-link:last-child {
  margin-right: 20;
}

/* signin */

.box {
  background-color: #036973;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 30px;
}

.form-floating {
  width: 368px;
  margin-bottom: 20px;
}

.form-floating label {
  color: #050505;
}
/* 
  .form-control-s {
    height: 43px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
  }
  */
.btn-signin {
  height: 43px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  color: #036973;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  cursor: pointer;
}
.btn-verify-otp {
  height: 43px;
  width: 200px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  color: #036973;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  cursor: pointer;
  justify-self: center;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.links a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.sign-in-box {
  position: absolute;
  width: 450px;
  height: 477px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.email-input {
  width: 368px;
  height: 84px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* usersdetails */
table {
  width: 100%;
  border: 1px solid #000;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.complaint-box {
  position: relative;
  width: 54px;
  height: 39px;
  background: #e40303;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.complaint-number {
  font-size: 20px;
  color: #fff;
}

.action-box {
  position: relative;
  width: 68px;
  height: 24px;
  background: #0197a6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
}

.action-text {
  font-size: 20px;
  color: #fff;
}

.details-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
