<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="generator" content="Hugo 0.111.3" />
    <title>Fillik Fashsions</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/adminStyle.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/icon.png" class="icon-head" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li> -->
          </ul>
          <ul class="navbar-nav mx-md-4">
            <% if(merchantLoggedin) { %> <% if (title==="product"){ %>
            <li class="nav-item">
              <a class="nav-link" href="addproduct">Add Product</a>
            </li>
            <%} else{ %>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Add Product</a></li>
                <li>
                  <a class="dropdown-item" href="/admin/userList"
                    >View Product</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Search User</a></li>
              </ul>
            </li>
            <% } %>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Orders
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All Orders</a></li>
                <li>
                  <a class="dropdown-item" href="/admin/userList"
                    >Pending order</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Order Success</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%=brandName%>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                <li><a class="dropdown-item" href="#">Change Password</a></li>
                <li>
                  <a class="dropdown-item" href="/merchant/logout">logout</a>
                </li>
              </ul>
            </li>
            <%} else{ %>
            <li class="nav-item">
              <a class="nav-link" href="/merchant/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/merchant/login">Login</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
