<body class="rafcolour">
  <header><%- include('header') -%></header>
  <div class="mainheading">Add Products</div>
  <div class="main-div">
    <!-- CATEGORY -->
      <div class="category">
        <div class="category">
          <h1 class="categoryname">Brand Name</h1>
          <%= Merchant.brandName %>
        </div>
        <div class="category">
          <h1 class="categoryname">Short Description</h1>
          <input
            type="text"
            class="form-control"
            name="description"
            placeholder="Enter the Description..."
          />
        </div>
      </div>
    </form>
  </div>
</body>
