<header><%- include('headerlist') -%></header>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Full Name</th>
      <th>No. of Orders</th>
      <th>Complaints</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>messi10@gmail.com</td>
      <td>Messi</td>
      <td>4</td>
      <td>
        <div class="complaint-box">
          <span class="complaint-number">2</span>
        </div>
      </td>
      <td>
        <div class="action-box">
          <span class="action-text">Block</span>
        </div>
        <div class="action-box">
          <a href="#" class="details-link">Details</a>
        </div>
      </td>
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
</table>
