<%- include('headerlist') -%>
<div class="heading">Users Details</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Full Name</th>
        <th>No. of Orders</th>
        <th>Complaints</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>messi10@gmail.com</td>
        <td>Messi</td>
        <td>4</td>
        <td>
          <div class="complaint-box">
            <span class="complaint-number">2</span>
          </div>
        </td>
        <td>
          <div class="d-flex">
            <div class="action-box mx-3">
              <span class="action-text">Block</span>
            </div>
            <div class="action-box">
              <a href="#" class="details-link">Details</a>
            </div>
          </div>
        </td>
      </tr>
      <!-- Add more rows as needed -->
      <tr>
        <td>messi10@gmail.com</td>
        <td>Messi</td>
        <td>4</td>
        <td>
          <div class="complaint-box">
            <span class="complaint-number">2</span>
          </div>
        </td>
        <td>
          <div class="d-flex">
            <div class="action-box mx-3">
              <span class="action-text">Block</span>
            </div>
            <div class="action-box">
              <a href="#" class="details-link">Details</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
